body {
  width: 100%;
  height: 100%;
}
.header {
  width: 100%;
  height: 100px;
  padding: 0, 60px, 0, 60px;
  display: flex;
  justify-content: center;
  background-color: white;
  &__inner {
    width: 1200px;
    // height: 10px;
    margin-top: 20px;
    padding: 0, 60px, 0, 60px;
    &__main {
      // height: 70px;
      display: flex;
      align-items: center;
      &__icon {
        height: 60px;
      }
    }
  }
  img {
    height: 45px;
    width: 140px;
  }
}
.header__inner__search {
  width: 140px;
  height: 50px;
  display: flex;
  &__input {
    width: 950px;
    height: 35px;
    margin-left: 30px;
  }
  .search {
    height: 33px;
    width: 30px;
    background: #3ccace;
  }
  button {
    background: #3ccace;
    cursor: pointer;
  }
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  &__left {
    list-style: none;
    display: flex;
    font-size: 12px;
  }
  &__right {
    list-style: none;
    display: flex;
    font-size: 12px;
  }
}
.nav a {
  padding-right: 30px;
  text-decoration: none;
  color: grey;
}

.main__visual__content {
  background-image: url("pict/bg-mainVisual-pict_pc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  color: white;
  // padding: 0 560px;黒田さんのをデプロイした時にこれが原因でずれたので調整。
  &__subtitle {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    font-size: 75px;
    line-height: 80px;
    padding-top: 250px;
    margin-left: 15px;
    color: #fff;
  }
  &__text {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    line-height: 1.77778;
    margin: 16px 0 0 15px;
  }
  img.appstore1 {
    height: 98px;
    width: 210px;
  }
  img.google1 {
    height: 103px;
    width: 240px;
  }
}
.main__introduction {
  height: 800px;
  width: 100%;
  &__subtitle {
    text-align: center;
    font-size: 33px;
    font-weight: bold;
    margin: 70px 0;
    color: #000;
    border-bottom: 5px solid #3ccace;
  }
  &__lists {
    text-align: center;
    display: flex;
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
    height: 600px;
    padding-right: 200px;
    &__list {
      width: 40%;
      margin: 16px 5% 0 0;
      text-align: left;
      display: flex;
      flex-direction: column;
      align-items: center;
      &__text {
        font-size: 30px;
        font-weight: bold;
        margin: 10px;
      }
      &__description {
        font-size: 12px;
        margin: 10px;
      }
      img {
        width: 400px;
        height: 400px;
      }
    }
  }
  .number {
    display: inline-block;
    position: absolute;
    border-radius: 4%;
    font-size: 30px;
    text-align: center;
    margin: 0 5px 0 0;
    padding: 10px 20px;
    background-color: #3ccace;
    color: #fff;
  }
  span {
    color: #3ccace;
    font-weight: bold;
  }
}
.main__middle__inner {
  background-image: url("pict/bg-topMiddleDl-pict.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 520px;
  &__subtitle {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    font-size: 36px;
    font-weight: bold;
    line-height: 1.2;
    padding: 130px 0 0 0;
    color: #fff;
    text-align: center;
  }
  &__text {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    line-height: 1.77778;
    margin: 16px 0 0 0;
    // padding-right: 825px;
    // padding-left: 100px;
  }
  img.appstore2 {
    margin-top: 20px;
    height: 95px;
    width: 210px;
  }
  img.google2 {
    height: 103px;
    width: 240px;
  }
}

.main__features {
  width: 100%;
  height: 650px;
  .main__feautures__head {
    text-align: center;
    font-size: 33px;
    font-weight: bold;
    margin-top: 30px;
    padding-top: 50px;
    &__items {
      display: flex;
      justify-content: center;
      &__item {
        width: 270px;
        margin: 30px 85px;
        &__topic {
          font-size: 22px;
          font-weight: bold;
        }
        &__detail {
          width: 300px;
          margin-top: 10px;
          font-size: 20px;
          padding: 10px;
        }
        img {
          height: 400px;
          width: 270px;
        }
      }
    }
  }
}

.pickup {
  height: 750px;
  width: 100%;
  margin-top: 200px;
  text-align: center;
  background: #f8f8f8;
  &__head {
    padding-top: 100px;
    font-size: 38px;
    font-weight: bold;
  }
  &__box__topic__title a {
    color: #3ccace;
    font-size: 30px;
    font-weight: bold;
  }
  &__box__products {
    display: flex;
    justify-content: center;
    &__product__body {
      background: white;
      margin: 0 40px;
    }
  }
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  img {
    width: 300px;
    height: 300px;
    background: white;
  }
}
.container {
  height: 750px;
  width: 100%;
  text-align: center;
  background: #f8f8f8;
  &__head {
    padding-top: 100px;
    font-size: 38px;
    font-weight: bold;
  }
  &__box__topic__title {
    color: #3ccace;
    font-size: 30px;
    font-weight: bold;
  }
  &__box__products {
    display: flex;
    justify-content: center;
    &__product__body {
      background: white;
      margin: 0 40px;
    }
  }
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  img {
    width: 300px;
    height: 300px;
    background: white;
  }
}
.app {
  // height: 540px;　黒田さんのデプロイしたところエラーが出たためアウト
  width: 100%;
  &__banner {
    background-image: url("pict/bg-appBanner-pict.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    color: white;
    &__title {
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
      font-size: 25px;
      font-weight: bold;
      text-align: center;
      line-height: 1.2;
      padding-top: 100px;
      color: #fff;
    }
    &__text {
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
      font-size: 30px;
      font-family: bold;
      text-align: center;
      color: #fff;
      line-height: 1.77778;
      margin: 16px 0 0 0;

    }
    img.appstore3 {
      margin-top: 20px;
      height: 98px;
      width: 210px;
      padding-left: 470px;
      padding-bottom: 30px;

    }
    img.google3 {
      height: 103px;
      width: 240px;
      padding-bottom: 28px;
    }
  }
}
.footer {
  // margin-top: 220px; 黒田さんのデプロイしたところエラー出たためコメントアウト
  padding: 60px 0;
  color: #fff;
  background-color: #272727;
  text-align: center;
  &__contents {
    display: flex;
    justify-content: center;
    padding: 20px;
    &__content1 {
      margin-right: 150px;
    }
    &__content2 {
      margin-right: 150px;
    }
  }
  h2 {
    font-family: bold;
    margin-bottom: 20px;
  }
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
  }
  img {
    width: 200px;
    height: 60px;
    vertical-align: bottom;
  }
}
.purchase {
  height: 120px;
  width: 120px;
  background: #3ccace;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  &__text {
    color: #fff;
    display: block;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 15px;
  }
  &__icon {
    width: 70px;
    height: 70px;
  }
}
