
body{
  background-color: lightgray;
  text-align: center;
  align-items: center;
  line-height: 30px;

  header{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    height: 128px;
    width: 150px;
    line-height: 145px;
    background-color: white;

    h1{
      height: 50px;
      width: 128px;
      margin-top: 20px;
      font-size: 40px;
    }
    .brand{
      height: 50px;
      width: 50px;
      margin:65px 0 0 45px;
      
    }
  }
    .single-main{
      height: 1000px;
      width: 780px;
      background-color: #f5f5f5;
      text-align: center;
      margin: 0 auto;
      
      .single-container{
        height: 720px;
        width: 720px;
        
        
        .single-head{
          width: 635px;
          font-size: 22px;
          padding: 40px 0 10px 20px;
          margin-left: 50px;
        }
        .buy__content{
          border-top: 1px solid #f5f5f5;
          width: 100%px;
          height: 145px;
          &-inner{
            max-width: 343px;
            margin: 0 auto;

            .buy__item-box{
              display: flex;
              font-size: 14px;

              .buy__item-image{
                height: 80px;
                width: 80px;
                min-width: 80px;
                display: flex;
                -webkit-box-pack: center;
                justify-content: center;
                align-items: center;
                text-align: center;
              }
              
              .buy__item-detail{
                margin-left: 16px;
                text-align: center;
                border-top: 1px solid;

                .buy__item-name{
                  font-size: 14px;
                  
                }
                
                .buy__price{
                  text-align: left;
                  font-size: 15px;
                  font-weight: 600;
                  margin-left: 50px;
                  
                }
              }
              
            }
          }
        }
  .form{
    
    ul{
      height: 24px;
      width: 100%;
      display: table;
      list-style: none;
      
      .buy__price-row{
        border: 0;
        font-size: 16px;
        text-align: left;
        
        .buy__price-cell-label{
          font-size: 18px;
          
        }
        .buy__price-cell{
          display: table-cell;
          text-align: right;
          span{
            margin-left: 120px;
          }
        }
      }
    }
    ul{
      list-style: none;
      font-size: 14px;
      text-align: center;
      line-height: 3;
      display: flex;
      justify-content: center;
      li{
        .buy__use-point{
          input[type=checkbox]{
            transform: scale(2.0);
            
          }
        }
      }
    }
    
    .buy-content.buy-user-info{
      width: 100%;
      text-align: left;
      padding: 24px 0;
      border-top: 1px solid;
      margin-top: 30px;

      .buy__content-inner{
        max-width: 100%;
        .right__buy__info-fix{
          color:#0099e8;
          display: block;
          text-align: right;
          float: right;
          text-decoration: none;
        }
      }
    }
    
    .buy__user-info-2{
      width: 100%;
      text-align: left;
      padding: 24px 0;
      border-top: 1px solid;
      
      .buy__content-inner-2{
        max-width: 100%;
        .right.buy-user-info-fix-2{
          color:#0099e8;
          display: block;
          text-align: right;
          float: right;
          text-decoration: none;
        }
      }
    }
  }
}
}
.btn-default{
    color:#f5f5f5;
    background-color: #0099e8;
    border: 1px solid;
    font-size: 19px;
    font-weight: 600;
    height: 60px;
    width: 343px;
  }
  
.bottom{
  width: 456px;
  padding: 40px 0;
  text-align: center;
  margin: 0 auto;
  
  .bottom__ubder{
    
    .clearfix{
      list-style: none;
      
      li{
        a{
          text-decoration: none;
          display: inline-block;
          margin:0 32px;
          float: right;
          
          .clearfix::after{
            content: "";
            clear: both;
            display: block;
          }
          
          .campany{
            margin-left: 20px;
            font-size: 14px;
            text-decoration: none;
          
        }
      }
    }
  }
}


}
}