.detail {
  background: #f6f6f4;
  &__container {
    width: 620px;
    margin: 40px auto 0;
    padding: 24px 40px 40px;
    background-color: white;
    font-family: 'FontAwesome';
    .container--header {
      font-size: 24px;
      text-align: center;
    }
    .container {
      margin-top: 16px;
      height: 420px;
      background: #fff;
      &__left--contents {
        width: 300px;
        height: 420px;
        float: left;
        background: #f6f6f4;
      }
      &__right--contents {
        width: 300px;
        height: 420px;
        border: 1px solid rgb( 245, 245, 245);
        float: right;
        &-table {
          tr {
            th {
            background-color: rgb( 250, 250, 250);
            border: 1px solid rgb( 245, 245, 245);
            padding: 8px;
            font-size: 15px;
            }
            td {
              border: 1px solid rgb( 245, 245, 245);
              padding: 8px;
              font-size: 15px;
              .review {
                margin-top: 8px;
                .good::before {
                  content: "\f118";
                  color: red;
                  font-size: 16px;
                }
                .normal::before {
                  content: "\f11a";
                  color: orange;
                  font-size: 16px;
                  margin-left: 8px;
                }
                .bad::before {
                  content: "\f119";
                  color: purple;
                  font-size: 16px;
                  margin-left: 8px;
                }
              }
            }
          }
        }
      }
    }
    .container__price {
      margin-top: 24px;
      height: 50px;
      text-align: center;
      .price {
        font-size: 50px;
        font-weight: 600;
      }
      .item-tax {
        margin-top: 400px;
      }
      .shipping-fee {
        font-size: 16px;
      }
    }
    .container__purchace {
      text-align: center;
      width: 620px;
      height: 50px;
      margin-top: 50px;
      background: #3ccace;
      line-height: 50px;
      .container__purchace-button {
        // display: block;
        cursor: pointer;
        text-align: center;
        line-height: 50px;
        font-size: 24px;
        font-weight: 600;
      }
      a {
        font-size: 24px;
        font-weight: bold;
        color: white;
        text-decoration: none;
      }
    }
    .container__description {
      height: 100px;
      padding-top: 32px;
      font-size: 18px;
      font-weight: 400;
    }
    .container__buttons {
      margin-top: 16px;
      height: 32px;
      line-height: 32px;
      &--left {
        float: left;
        .button-like {
          width: 120px;
          height: 32px;
          padding: 8px, 16px;
          border: 1px solid rgb( 245, 245, 245);
          background-color: rgb( 245, 245, 245);
          border-radius: 40px;
          font-family: "FontAwesome";
          .like-icon::before {
            content: "\f004";
            color: rgb( 204, 204, 204);
            font-size: 16px;
            margin-right: 8px;
          }
        }
        .report {
          width: 180px;
          height: 32px;
          margin-left: 16px;
          padding: 8px, 16px;
          border: 1px solid rgb( 245, 245, 245);
          background-color: rgb( 245, 245, 245);
          border-radius: 40px;
          color: black;
          font-family: "FontAwesome";
          ::before {
            content: "\f024";
            font-size: 16px;
            margin-right: 8px;
          }
        }
      }
    }
  }
  .status-change-btn {
    width: 700px;
    margin: 24px auto;
    padding-top: 24px;
    padding-bottom: 40px;
    background-color: white;
    &__edit {
      width: 620px;
      height: 50px;
      border: 1px solid;
      margin: 16px auto;
      text-align: center;
      line-height: 50px;
      color: white;
      background-color: red;
      cursor: pointer;
      a {
        color: #fff;
      }
      p {
        text-align: center;
      }
    }
    p {
      text-align: center;
    }
    &__stop {
      width: 620px;
      height: 50px;
      border: 1px solid;
      margin: 16px auto;
      text-align: center;
      line-height: 50px;
      color: white;
      background-color:rgb(170, 170, 170);
      cursor: pointer;
      a {
        color: #fff;
      }
      p {
        text-align: center;
      }
    }
    &__delete {
      width: 620px;
      height: 50px;
      border: 1px solid;
      margin: 16px auto;
      text-align: center;
      line-height: 50px;
      color: white;
      background-color:rgb(170, 170, 170);
      cursor: pointer;
      a {
        color: #fff;
      }
      p {
        text-align: center;
      }
    }
  }

  .edit {
    width: 620px;
    height: 150px;
    margin: 8px auto;
    padding: 40px;
    background-color: white;
    .edit_form {
      margin-top: 8px;
      width: 620px;
      height: 50px;
      margin-top: 8px;
      border: none;
      border-radius: 15px;
      background-color: #3ccace;
      cursor: pointer;
      a {
        color: #fff;
        line-height: 50px;
        cursor: pointer;
      }
    }
    .destroy__form {
      margin-top: 20px;
      &--submit {
        width: 620px;
        height: 50px;
        margin-top: 8px;
        border: none;
        color: white;
        background-color: rgb(170, 170, 170);
        cursor: pointer;
      }
    }

  }

  .comment {
    width: 620px;
    height: 260px;
    margin: 8px auto;
    padding: 40px;
    background-color: white;
    .comment__caution {
      background-color: rgb(255, 246, 222);
      padding: 8px;
    }
    .comment__form {
      margin-top: 8px;
      textarea {
        width: 598px;
        height: 80px;
        padding: 10px;
        border:1px solid;
      }
      &__submit {
        width: 620px;
        height: 50px;
        margin-top: 8px;
        border: none;
        color: white;
        background-color: rgb(170, 170, 170);
      }
    }
  }
  .prev-next-page {
    width: 700px;
    display: flex;
    justify-content: space-between;
    margin: 24px auto 0;
    font-family: 'FontAwesome';
    .prev-page {
      text-align: left;
    }
    .next-page {
      text-align: right;
    }
    a {
      color: #0099e8;
    }
  }
  .sns {
    width: 700px;
    height: 100px;
    background-color: white;
    margin: 24px auto;
    padding: 24px 0;
    clear: both;
    text-align: center;
    line-height: 100px;
    font-family: 'FontAwesome';
    span {
      font-size: 44px;
      margin-right: 8px;
    }
    .fb-blue{color: #4267b2}
    .tw-blue {color: #1da1f2}
    // .line-green{color: #00B900}
    .pinterest{color: #aa262a}
  }
}

.js-file{
  background-color:#fff;
  text-align: center;
}
.js-remove{
  width: 50px;
  height: 100px;
  background-color: lightgreen;
  text-align: center;
}