%main.deal-done-main
  %section.deal-done-single-container.buy-item-container
    .deal-done-attention
      %h3
        %i.far.fa-clock
        %span
          発送をお待ちください
      %p
        出品者からの発送通知をお待ちください
    %h2.deal-done-head
      購入が完了しました
    %section.deal-content.deal-item
      .deal-content__inner
        %h3.deal-item-image
          = image_tag("シャネル.jpg")
        %p.deal-item-name
          シャネル
    %section.deal-content.deal-user-info.deal-item
      .deal-content__inner
        %p.deal-user-name
          SHO
    %section.deal-content.deal-user-info
      .deal-content__inner
        %p.deal-user-address
          住所
    %section.deal-content.deal-done-flow
