.main
  .main__container
    .main__container--left
      .sidebar
        .sidebar__top
          %ul
            %li
              %a(href="#")
                ああああ
            %li
              %a(href="#")
                ああああ
            %li
              %a(href="#")
                ああああ
            %li
              %a(href="#")
                ああああ
            %li
            5
            %li
            6
            %li
            7
            %li
            8
            %li
            9
            %li
            10
            %li
            11
            %li
            12
        .sidebar__bottom
          %ul
            %li
            1
            %li
            2
            %li
            3
            %li
            4
            %li
            5
            %li
            6
            %li
            7
            %li
            8
            %li
            9
            %li
            10
            %li
            11
            %li
            12
    .main__container--right
      .container
        .user__box
          .user__box--top
            .user--name
              @user.name
          .user__box--bottom
            .btn
              .btn__left
                %a(href="#")
                  お知らせ
              .btn__right
                %a(href="#")
                  やることリスト
            .list
              .list__left
              .list__right
        .items__box
          .items__box--left
          .items__box--right