// Place all the styles related to the mypage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header{
  height: 148px;
  width: 100%;
  background-color: black;
}

.footer{
  height: 671px;
  width: 100%;
  background-color: black;
}

.contents{
  height:1343px;
  width: 100%;
  background-color: #f5f5f5;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  font-family: 'Source Sans Pro', Helvetica , Arial, 'æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“', 'YuGothic', 'ãƒ¡ã‚¤ãƒªã‚ª', 'Meiryo', sans-serif;
  &__left{
    width: 280px;
    height: 1252px;
    margin-right: 40px;
    &__1{
      &__box{
        font-size: 14px;        
        color: black;
        background-color: #ffffff;
        height: 16px;
        width: 248px;
        padding: 16px;
        line-height: 16px;
        margin-bottom: 2px;
        display: flex;
        justify-content: space-between;
      }
      &__contact{
        font-size: 14px;
        color: black;
        background-color: #ffffff;
        height: 16px;
        width: 248px;
        padding: 16px;
        line-height: 16px;
        margin-bottom: 40px;
        display: flex;
        justify-content: space-between;
      }
    }
    &__2{
      &__pay{
        font-size: 16px;
        height: 16px;
        width: 280px;
        margin-bottom: 10px;
        padding: 16 16 16 0px;
        font-weight: bold;
      }
      &__money{
        font-size: 14px;
        color: black;
        background-color: #ffffff;
        height: 16px;
        width: 248px;
        padding: 16px;
        line-height: 16px;
        margin-bottom: 2px;
        display: flex;
        justify-content: space-between;
      }
      &__point{
        font-size: 14px;
        color: black;
        background-color: #ffffff;
        height: 16px;
        width: 248px;
        padding: 16px;
        line-height: 16px;
        margin-bottom: 40px;
        display: flex;
        justify-content: space-between;
      }
    }
    &__3{
      &__setting{
        font-size: 16px;
        height: 16px;
        width: 280px;
        margin-bottom: 10px;
        padding: 16 16 16 0px;
        font-weight: bold;
      }
      &__box{
        font-size: 14px;
        color: black;
        background-color: #ffffff;
        height: 16px;
        width: 248px;
        padding: 16px;
        line-height: 16px;
        margin-bottom: 2px;
        display: flex;
        justify-content: space-between;
      }
      &__logout{
        font-size: 14px;
        color: black;
        background-color: #ffffff;
        height: 16px;
        width: 248px;
        padding: 16px;
        line-height: 16px;
        margin-bottom: 2px;
        display: flex;
        justify-content: space-between;
      }
    }
  }
  &__right{
    width: 700px;
    height: 1200px;
    text-align: center;
    &__1{
      &__up{
        height: 160px;
        width: 660px;
        padding: 20px;
        background-image: url('kirakira.png');
        background-size: cover;
        &__img{
          margin-top: 20px;
        }
        &__box{
          height: 19px;
          width: 100%;
          font-size: 14px;
          margin-top: 8px;
          font-weight: bold;
        }
      }
      &__middle{
        height: 74px;
        background-color: #eee;
        display: flex;
        justify-content: space-evenly;
        font-weight: bold;
        &__left{
          border-top: 1.5px solid red;
          width: 350px;
          height: 100%;  
          line-height: 74px;
        }
        &__right{
          width: 350px;
          height: 100%;
          line-height: 74px;
        }
      }
    &__under{
      &__box{
        height: 48px;
        width: 668px;
        padding: 16px;
        position: relative;
        background-color: #ffffff;
        margin-bottom: 2px;
        display: flex;
        justify-content: space-between;
        &__inner{
        &__icon{
          position: absolute;
          left: 24px;
          top: 24px;
        }
        &__title{
          font-size: 14px;
          height: 21px;
          width: 560px;
          text-align: left;
          margin-left: 60px;
        }
        &__time{
          text-align: left;
          margin-left: 60px;
          position: relative;
          margin-top: 3px;
        }
        &__date{
          position: absolute;
          font-size: 14px;
          color: #888;
          left: 100px;
          top: 39px;
        }
      }
      &__arrow{
        margin-top: 16px;
      }
      }
    }
    &__show{
      height: 48px;
      width: 668px;
      padding: 16px;
      margin-top: 1.5px;
      font-size: 14px;
      line-height: 48px;
      background-color: #ffffff;
      &__box{
        background-color: #eee;
      }
      &__box:hover{
        background-color: #ffffff;
      }
    }
    }
    &__2{
      &__up{
        margin-top: 40px;
        background-color: #ffffff;
        height: 72px;
        width: 700px;
        padding: 0 16px 0px 16px;
        line-height: 72px;
        text-align: left;
      }
      &__middle{
        height: 74px;
        background-color: #eee;
        display: flex;
        justify-content: space-evenly;
        font-weight: bold;
        &__left{
          border-top: 1.5px solid red;
          width: 350px;
          height: 100%;  
          line-height: 74px;
        }
        &__right{
          width: 350px;
          height: 100%;
          line-height: 74px;
        }
      }
      &__under{
        width: 700px;
        height: 236px;
        background-color: #fff;
        &__icon{
          padding-top: 40px;
          color: #ccc;
          font-weight: bold;
        }
      }
    }
  }
}

.arrow{
  color: #888;

}