
.brand{
  
  
}
.name{
  font-size: 40px;
  margin-right: 13px;
  
}

  
  
  h2{
    background-color: lightskyblue;
    height: 90px;
    font-size: 30px;
    line-height: 3;
    
  }
  content{
    height: 100%;
    width: 100%;
    
    .new_user{
      font-weight: bold;
    
    }
  
    input{
      width: 300px;
      
    }
  .actions{
    .submit{
      color:lightskyblue;

    }
  }
  
}
a{
  color:lightskyblue;
  height: 20px;
  width: 20px;
  font-weight: bold;
}
