.log_in{
  font-size: 30px;
  font-weight: bolder;
  color: white;
  border-radius: 15px;
  position: relative;
}

.contents__btn__contents__btn--facebook{
  height: 90px;
  border-bottom:20px solid #ffa500;
  background-color: #ff8c00;
  color: #ffffff;
  &__logo {
    text-align: center;
    font-size: 36px;
    line-height: 90px;
  }
}
.contents {
  height: calc(100vh - 90px - 20px);
  width:900px;
  margin: 0 auto;
  background-color: #fffacd;
  &__message{
    padding: 40px;
    color:#ffa500;
    font-size:30px;
    text-align: center;
  }
  &__btn{
    display: block;
    height: 80px;
    width :360px;
    margin:0 auto 50px;
    border-radius: 10px;
    font-size:20px;
    color:#fff;
    text-decoration: none;
    text-align: center;
    line-height: 80px;
    
    .contents__btn--icon{
      padding-right:20px;
    }
    
    &--facebook{
      margin-top: 45px;
      background-color: #4169e1;
    }
    &--twitter{
      background-color: #00bfff;
    }
    &--instagram{
      background-color: #fc76bf;
    }
  }
}
.feild{
  margin-bottom: 10px;
  font-weight: bold;
  color: rgb(82, 159, 185);
}

.new_user{
  font-weight: bold;
  color: rgb(82, 159, 185);
  
  input#user_email{
    width: 310px;
    height: 30px;
    border-radius: 15px;
    
  }
  input#user_password{
    width: 310px;
    border-radius: 15px;
  }
  
}
input#user_remember_me{
  width: 25px;
  
}
input{
  width: 310px;
  height: 30px;
  border-radius: 15px
}

.actions{
  padding-top: 10px;
  width: 300px;
  height: 35px;
  margin: 0 auto;
  border-radius: 15px;
  // background-color: rgb(88, 179, 209);
}

