.header
 =render "shared/header"       
​
.hako
 .hako__left
  .hako__left__1
   .hako__left__1__box
    =link_to "マイページ", "#",class:"hako__left__1__box__mypage"
    =fa_icon('chevron-right',class:"arrow")
   .hako__left__1__box
    お知らせ
    =fa_icon('chevron-right',class:"arrow")
   .hako__left__1__box
    やることリスト
    =fa_icon('chevron-right',class:"arrow")
   .hako__left__1__box
    = link_to "いいね！一覧!", mypage_path(current_user.id), method: :get, class:"hako__left__1__box__mypage"
    =fa_icon('chevron-right',class:"arrow")
   .hako__left__1__box
    出品する
    =fa_icon('chevron-right',class:"arrow")
   .hako__left__1__box
    出品した商品・出品中
    =fa_icon('chevron-right',class:"arrow")
   .hako__left__1__box
    出品した商品・取引中
    =fa_icon('chevron-right',class:"arrow")
   .hako__left__1__box
    出品した商品・売却済み
    =fa_icon('chevron-right',class:"arrow")
   .hako__left__1__box
    購入した商品・取引中
    =fa_icon('chevron-right',class:"arrow")
   .hako__left__1__box
    購入した商品・過去の取引
    =fa_icon('chevron-right',class:"arrow")
   .hako__left__1__box
    ニュース一覧
    =fa_icon('chevron-right',class:"arrow")
   .hako__left__1__box
    評価一覧
    =fa_icon('chevron-right',class:"arrow")
   .hako__left__1__box
    ガイド
    =fa_icon('chevron-right',class:"arrow")
   .hako__left__1__contact
    お問い合わせ
    =fa_icon('chevron-right',class:"arrow")

  .hako__left__2
   .hako__left__2__pay
    メルペイ
   .hako__left__2__money
    売上・振込申請
    =fa_icon('chevron-right',class:"arrow")
   .hako__left__2__point
    ポイント
    =fa_icon('chevron-right',class:"arrow")
  .hako__left__3
   .hako__left__3__setting
    設定
   .hako__left__3__box
    プロフィール
    =fa_icon('chevron-right',class:"arrow")
   .hako__left__3__box
    発送元・お届け先住所
    =fa_icon('chevron-right',class:"arrow")
   .hako__left__3__box
    = link_to "支払い方法", new_card_path,class:"hako__left__3__box__card-show"
    =fa_icon('chevron-right',class:"arrow")
   .hako__left__3__box
    メール/パスワード  
    =fa_icon('chevron-right',class:"arrow")
   .hako__left__3__box
    本人情報
    =fa_icon('chevron-right',class:"arrow")
   .hako__left__3__box
    電話番号の確認
    =fa_icon('chevron-right',class:"arrow")
   .hako__left__3__logout
    = link_to "ログアウト", mypage_path(current_user.id), method: :delete,class:"hako__left__3__logout__destroy" 
    =fa_icon('chevron-right',class:"arrow")

 .hako__right
  .hako__right__1
   .hako__right__1__up
    .hako__right__1__up__img 
     =link_to image_tag("member_photo_noimage_thumb.png",width:"60",height:"60") 
    .hako__right__1__up__box
     = current_user.nickname
    .hako__right__1__up__box
     評価 14  出品数 15
   .hako__right__1__middle
    .hako__right__1__middle__left.active
     お知らせ
    .hako__right__1__middle__left
     やることリスト
   .hako__right__1__under.show
    .hako__right__1__under__box
     .hako__right__1__under__box__inner
      .hako__right__1__under__box__inner__icon
       =link_to image_tag("logo.png",width:"32",height:"32") 
      .hako__right__1__under__box__inner__title
       チームNの週間予報！皆さん頑張っています！
      .hako__right__1__under__box__inner__time
       =link_to image_tag("time.png",width:"18",height:"18")
      .hako__right__1__under__box__inner__date
       1日前      
     .hako__right__1__under__box__arrow
      =fa_icon('chevron-right',class:"arrow")

    .hako__right__1__under__box
     .hako__right__1__under__box__inner
      .hako__right__1__under__box__inner__icon
       =link_to image_tag("logo.png",width:"32",height:"32") 
      .hako__right__1__under__box__inner__title
       チームNの週間速報！
      .hako__right__1__under__box__inner__time
       =link_to image_tag("time.png",width:"18",height:"18")
      .hako__right__1__under__box__inner__date
       2日前      
     .hako__right__1__under__box__arrow
      =fa_icon('chevron-right',class:"arrow")

    .hako__right__1__under__box
     .hako__right__1__under__box__inner
      .hako__right__1__under__box__inner__icon
       =link_to image_tag("logo.png",width:"32",height:"32") 
      .hako__right__1__under__box__inner__title
       SCSSがわからないけど、それ以上にjavascriptやらなきゃいけない件について。
      .hako__right__1__under__box__inner__time
       =link_to image_tag("time.png",width:"18",height:"18")
      .hako__right__1__under__box__inner__date
       3日前      
     .hako__right__1__under__box__arrow
      =fa_icon('chevron-right',class:"arrow")

    .hako__right__1__under__box
     .hako__right__1__under__box__inner
      .hako__right__1__under__box__inner__icon
       =link_to image_tag("logo.png",width:"32",height:"32") 
      .hako__right__1__under__box__inner__title
       せいちゃんと黒田さんの奮闘ぶりについて！笑
      .hako__right__1__under__box__inner__time
       =link_to image_tag("time.png",width:"18",height:"18")
      .hako__right__1__under__box__inner__date
       4日前      
     .hako__right__1__under__box__arrow
      =fa_icon('chevron-right',class:"arrow")
  
   .hako__right__1__under
    .hako__right__1__under__list
     =link_to image_tag("logo.png",width:"80",height:"80") 
     .hako__right__1__under__list__text
      取引中の商品がありません




   .hako__right__1__show
    .hako__right__1__show__box
     一覧を見る

  .hako__right__2
   .hako__right__2__up
    購入した商品
   .hako__right__2__middle
    .hako__right__2__middle__left.move
     取引中
    .hako__right__2__middle__left
     過去の取引
   .hako__right__2__under.see
    .hako__right__2__under__icon
     =link_to image_tag("logo.png",width:"80",height:"80")
     .hako__right__2__under__icon__text
      取中の商品がありません
   .hako__right__2__under
    .hako__right__2__under__icon
     =link_to image_tag("logo.png",width:"80",height:"80") 
     .hako__right__2__under__icon__text
      過去の取引はありません。

.footer
 =render "shared/footer"  